{%extends 'base.html'%}

{%block content%}
<div class='container'>
  
<table class="table">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Type</th>
        <th scope="col">Quantity</th>
        <th scope="col">Created</th>
      </tr>
    </thead>
    <tbody>
        {%for a in all_inventory%}
      <tr>
        <th scope="row">{{a.name}}</th>
        <td>{{a.inventory_verbose}}</td>
        <td>{{a.quantity}}</td>
        <td>{{a.date_created}}</td>
      </tr>
     {%endfor%}
    </tbody>
  </table>
</div>
{%endblock%}