{%extends 'base.html'%}

{%block content%}

<div class='container' style="">
<form method='POST'>
{%csrf_token%}

{%for a in all_division%}
<div class="form-check form-check-inline">
  <input class="form-check-input" type="radio" id="{{a}}" name='division_name' value="{{a}}">
  <label class="form-check-label" for="{{a}}">{{a}}</label>
</div>
{%endfor%}
<button type='submit'>Division Filter</button>
</form>



<table class="table">
   <thead>
     <tr>
       <th scope="col">Division</th>
       <th scope="col">Name</th>
       <th scope="col">Quantity</th>
     </tr>
   </thead>
   <tbody>
       {%for a in all_item%}
     <tr>
       <th scope="row">{{a.division}}</th>
       <td><a href="{%url 'inventory_detail' a.id%}">{{a.name}}</a></td>
       <td>{{a.quantity}}</td>
     </tr>
    {%endfor%}
   </tbody>
 </table>
</div>


{%endblock%}